{% extends 'base.html' %}
{% load staticfiles %}

{% block panel %}
    <nav class="nav nav-pills nav-fill navbar-dark" id="base_panel">
        <a class="nav-item nav-link" href="{% url 'home' %}"> Acceuil </a>
        <a class="nav-item nav-link active" href="{% url 'event' %}"> Evénements </a>
        <a class="nav-item nav-link" href="#"> Mes événements </a>
        <a class="nav-item nav-link" href="{% url 'settings' %}"> Mon compte </a>
    </nav>
{% endblock %}

{% block  body%}
    <div class="container" id="specific_event_container">
        <div class="row justify-content-center">
            <div class="col-sm-6">
                <img id="specific_event_img" src="{% static "img/photo1.jpg" %}">
            </div>
            <div class="col-sm-12" id="specific_event_col">
                <h1>Titre</h1>
                <p>Description: </p>
                <p>Date de début: </p>
                <p>Date de fin: </p>
                <p>Date deadline: </p>
                <p>Nombre de places intern restantes: </p>
                <p>Nombre de places extern restantes: </p>
                <p>Inscrit: </p>
                <p>Prix: </p>
                <div class="d-flex" id="test">
                    <button type="button" class="btn btn-success">Inscrition</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
