{% extends "base.html" %}
{% load staticfiles %}

{% block panel %}
    <nav class="nav nav-pills nav-fill navbar-dark" id="base_panel">
        <a class="nav-item nav-link" href="{% url 'home' %}"> Accueil </a>
        <a class="nav-item nav-link" href="{% url 'event' %}"> Evénements </a>
        <a class="nav-item nav-link disabled" href="#"> Mes événements </a>
        <a class="nav-item nav-link active" href="{% url 'settings' %}"> Mon compte </a>
    </nav>
{% endblock %}

{% block body %}
    <h1>ERROR 404 user not found</h1>
{% endblock %}