{% extends "base.html" %}
{% load staticfiles %}

{% block panel %}
    <nav class="nav nav-pills nav-fill navbar-dark" id="base_panel">
        <a class="nav-item nav-link" href="{% url 'home' %}"> Accueil </a>
        <a class="nav-item nav-link" href="{% url 'event' %}"> Evénements </a>
        {% if user.is_authenticated %}
            <a class="nav-item nav-link" href="{% url 'my_event' %}"> Mes événements </a>
        {% endif %}
        <a class="nav-item nav-link" href="{% url 'my_event' %}"> Associations </a>
        {% if user.is_authenticated %}
            <a class="nav-item nav-link" href="{% url 'my_event' %}"> Mes Associations </a>
            <a class="nav-item nav-link" href="{% url 'settings' %}"> Mon compte </a>
        {% endif %}
    </nav>
{% endblock %}

{% block body %}
    <center><h1>ERROR 404 user not found</h1></center>

    <style type="text/css">

        body {
            background: #cccccc url("{% static 'img/logo_epita_blur.png' %}");
            background-size:cover
        }
    </style>

{% endblock %}