{% extends 'base.html' %}

{% block panel %}
    <nav class="nav nav-pills nav-fill navbar-dark" id="base_panel">
        <a class="nav-item nav-link" href="{% url 'home' %}"> Accueil </a>
        <a class="nav-item nav-link active" href="{% url 'event' %}"> Evénements </a>
        <a class="nav-item nav-link disabled" href="#"> Mes événements </a>
        <a class="nav-item nav-link" href="{% url 'settings' %}"> Mon compte </a>
    </nav>
{% endblock %}

{% block  body%}
    <style>
        img{
            display: block;
            width: 100%;
            height: auto;
        }
    div.container2{
        position: relative;
        right: 50%;
    }
    </style>

    <div class="container" style="margin-top: 30px">
        <div class="row" style="border: black dashed">
            <div class="col-sm-4" style="align-self: center">
                <div class="d-flex" id="test">
                    <a href="{% url 'create_event' %}">
                        <button type="button" class="btn btn-secondary btn-lg">Créer un évenement</button>
                    </a>
                </div>
            </div>
            <div class="col-sm-8" style="align-self: center">
                <h3>Creer un nouvel événement pour vos associations </h3>
            </div>
        </div>
    </div>

    {% for e in events %}
         <div class="container" style="margin-top: 30px">
             <div class="row" style="border: yellow dashed">
                 <div class="col-sm-4" style="border: black dashed">
                     <div class="d-flex">
                         <a href="{% url 'specific_event' e.id %}">
                             <img src="{{e.photo.url}}" class="float-left">
                         </a>
                     </div>
                 </div>
                 <div class="col-sm-8" style="border: #1c7430 dashed">
                     <h1>{{ e.title}}</h1>
                     <blockquote class="blockquote-reverse">
                         <p>{{ e.description }}</p>
                         <footer> {{ e.association_id }}</footer>
                     </blockquote>
                 </div>
             </div>
         </div>
     {% endfor %}

{% endblock %}
