{% extends "base.html" %}
{% load staticfiles %}

{% block panel %}
    <nav class="nav nav-pills nav-fill navbar-dark" id="base_panel">
        <a class="nav-item nav-link" href="{% url 'home' %}"> Accueil </a>
        <a class="nav-item nav-link" href="{% url 'event' %}"> Evénements </a>
        <a class="nav-item nav-link" href="{% url 'association' %}"> Associations </a>
    </nav>
{% endblock %}

{%  block body%}

    <div class="d-flex" id="test">
        <div class="mb-auto p-2">
            <a href="{% url 'social:begin' 'google-oauth2' %}"> <img src="{% static "img/google.png" %}"></a>
        </div>
        <div class="mb-auto p-2">
            <a href="{% url 'social:begin' backend='epita' %}"> <img src="{% static "img/cri.png" %}"></a>
        </div>
    </div>


{%  endblock%}
