{% extends "base.html" %}
{% load staticfiles %}

{% block panel %}
    <nav class="nav nav-pills nav-fill navbar-dark" id="base_panel">
        <a class="nav-item nav-link" href="{% url 'home' %}"> Accueil </a>
        <a class="nav-item nav-link" href="{% url 'event' %}"> Evénements </a>
        <a class="nav-item nav-link" href="{% url 'my_event' %}"> Mes événements </a>
        <a class="nav-item nav-link" href="{% url 'association' %}"> Associations </a>
        <a class="nav-item nav-link" href="{% url 'my_association' %}"> Mes Associations </a>
        <a class="nav-item nav-link" href="{% url 'settings' %}"> Mon compte </a>
    </nav>
{% endblock %}

{%  block body%}

    page de paiement

    <a href="{% url 'settings' %}"> j'ai payé </a>


{%  endblock%}