{% extends "base.html" %}
{% load staticfiles %}

{% block panel %}
    <nav class="nav nav-pills nav-fill navbar-dark" id="base_panel">
        <a class="nav-item nav-link" href="{% url 'home' %}"> Accueil </a>
        <a class="nav-item nav-link" href="{% url 'event' %}"> Evénements </a>
        <a class="nav-item nav-link disabled" href="#"> Mes événements </a>
        <a class="nav-item nav-link" href="{% url 'settings' %}"> Mon compte </a>
    </nav>
{% endblock %}

{%  block body%}

    <div class="d-flex" id="test">
        <div class="d-flex" id="flex_register">
            {% if res_event != None %}
                <p>Vous êtes maintenant inscrit à l'événement {{ res_event.title }}</p>
            {% else %}
                <p>Vous êtes déjà inscrit à cet événement</p>
            {% endif %}
        </div>
    </div>

{%  endblock%}