{% extends 'base.html' %}
{% load staticfiles %}

{% block panel %}
    <nav class="nav nav-pills nav-fill navbar-dark" id="base_panel">
        <a class="nav-item nav-link" href="{% url 'home' %}"> Accueil </a>
        <a class="nav-item nav-link active" href="{% url 'event' %}"> Evénements </a>
        {% if user.is_authenticated %}
            <a class="nav-item nav-link" href="{% url 'my_event' %}"> Mes événements </a>
        {% endif %}
        <a class="nav-item nav-link" href="{% url 'my_association' %}"> Associations </a>
        {% if user.is_authenticated %}
            <a class="nav-item nav-link" href="{% url 'my_association' %}"> Mes Associations </a>
            <a class="nav-item nav-link" href="{% url 'settings' %}"> Mon compte </a>
        {% endif %}
    </nav>
{% endblock %}

{% block body%}
    <div class="container" id="specific_event_container">
        <div class="row justify-content-center">
            <div class="col-sm-6">
                <img id="specific_event_img" src="{{ res_event.first.photo.url }}">
            </div>
            <div class="col-sm-12" id="specific_event_col">
                <h1> {{ res_event.first.title }}</h1>
                <p>Description: {{ res_event.first.description }}</p>
                <p>Date de début: {{ res_event.first.date_begin }}</p>
                <p>Date de fin: {{ res_event.first.date_end }} </p>
                <p>Date deadline: {{ res_event.first.date_deadline }}</p>
                <p>Nombre de places intern restantes: {{ res_event.first.size_intern }}</p>
                <p>Nombre de places extern restantes: {{ res_event.first.size_ext }}</p>
                <p>Lieu: {{ res_event.first.place }}</p>
                <p>Inscrit: </p>
                <p>Prix: {{ res_event.first.price }} euros </p>
                <div class="d-flex" id="test">
                    <a href="{% url 'register' res_event.first.id %}">
                        <button class="btn btn-success">Inscription</button>
                    </a>
                </div>
                <div class="d-flex" id="test">
                    <a href="{% url 'modify_event' res_event.first.id %}">
                        <button class="btn btn-success">Modifier L'evenemt</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
