{% extends 'base.html' %}


{% block  body%}
    <style>
        img{
            display: block;
            width: 100%;
            height: auto;
        }
    div.container2{
        position: relative;
        right: 50%;
    }
    </style>

    <div class="container" style="margin-top: 30px">
    <div class="row">
        <div class="col-sm-4">
            <div class="container2">
                <img src="../../static/img/photo1.jpg" class="float-left">
            </div>
        </div>
        <div class="col-sm-8">
            <h1>Events 1</h1>
            <p>Un super events dans une super boite de nuit</p>
            <blockquote class="blockquote-reverse">
                <p>cet event se deroulera au 25 rue du blabla et coutera 10000 euros par personne, evidement entree gratuite pour les mineurs</p>
                <footer> Une super assos</footer>
            </blockquote>
        </div>
    </div>
    </div>

     {% for e in events %}
         <div class="container" style="margin-top: 30px">
             <div class="row">
                 <div class="col-sm-4">
                     <div class="container2">
                         <img {{e.photo}} class="float-left">
                     </div>
                 </div>
                 <div class="col-sm-8">
                     <h1>{{ e.title}}</h1>
                     <p>Un super events dans une super boite de nuit</p>
                     <blockquote class="blockquote-reverse">
                         <p>{{ e.description }}</p>
                         <footer> {{ e.association_id }}</footer>
                     </blockquote>
                 </div>
             </div>
         </div>
     {% endfor %}

{% endblock %}
