{% extends 'base.html' %}


{% block  body%}
    <div class="row">
    <div class="col-sm-4" style="background-color:palegoldenrod;">
        <h1>Events 1 photo</h1>
    </div>
    <div class="col-sm-8" style="background-color:gainsboro;">
    <h1>Events 1</h1>
  <p>Un super events dans une super boite de nuit</p>
  <blockquote class="blockquote-reverse">
    <p>cet event se deroulera au 25 rue du blabla et coutera 10000 euros par personne, evidement entree gratuite pour les mineurs</p>
  <footer> Une super assos</footer>
  </blockquote>
  </div>
    </div>
{% endblock %}
