{% extends 'base.html' %}

{% block body %}
    <style>
    img{
        display: block;
        width: 100%;
        height: auto;
    }
    </style>
<div class="container" xmlns:max-width="http://www.w3.org/1999/xhtml"
     xmlns:max-height="http://www.w3.org/1999/xhtml" xmlns:height="http://www.w3.org/1999/xhtml"
     xmlns:width="http://www.w3.org/1999/xhtml">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            {% for nb in numbers %}
                <li data-target="#myCarousel" data-slide-to={{ nb }}></li>
            {% endfor %}
        </ol>

            {% for e in first %}
                <div class="carousel-item active">
                    <a href="{% url 'specific_event' e.id %}">
                    <img src="{{ e.photo.url }}" alt="photo1">
                    <div class="carousel-caption">
                        <h3>{{ e.title }}</h3>
                    </div>
                    </a>
                </div>
            {% endfor %}
        {% for e in events %}
            <div class="carousel-item">
                <a href="{% url 'specific_event' e.id %}">
                <img src="{{ e.photo.url }}" alt="photo1">
                <div class="carousel-caption">
                    <h3>{{ e.title }}</h3>
                    <!--<p>L'autruchie c'est mieux</p>-->
                </div>
                </a>
            </div>
        {% endfor %}

        <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div></div>
{% endblock %}